/*Titulos*/
h1{
    font-family: 'Inknut Antiqua', serif;
    line-height: 130%;
}

.body-num{
    background: url("images/fondo_numeros.jpg");
    background-size: cover;
}

.centrado{
    margin: auto;
}

.div-conver{
    background: #33DFFF;
    border: 2px solid #FF33FE;
    border-radius: 20px;
    max-width: 430px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 10px;
    margin-top: 50px;
}

.color-div{
    background: #4733FF;
    max-width: 500px;
}

.operacionesMat input{
    max-width: 40px;
}

/*Formulario*/
input{
    border-radius: 2px;
    box-shadow: 5px 5px 10px #FF338C;
}

input:focus {
    border-color: #D7FF33;
}

.ejer{
    border:1px solid #000000;
    background: rgba(240, 255, 105, 0.47);
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FFCD33;
    border: 1px solid #444444;
}

li a {
    display: block;
    color: #FF338C;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #b4c5ff;
    color: RED;
}

li a:hover:not(.active) {
    background-color: #D7FF33;
    color: RED;
}